* {
  padding: 5px 15px;
  margin: 0;
  box-sizing: border-box;
}

.skill-main {
  display: flex;
  flex-direction: column;
  border: 1px solid #626262;
  padding: 50px;
  text-align: center;
}

.skill-container {
  display: flex;
  justify-content: space-evenly;
}

h2, h3 {
  padding: 20px;
}

.skill-card {
  border: 1px solid #121212;
  padding: 40px 60px 60px 60px;
}

.skill-img {
  width: 150px;
}
